.navbar{
  background: #ef2d5e;
}

.nav.navbar-nav.navbar-right li a {
    color: white;
}

.nav.navbar-nav li a {
    color: white;
}

.navbar-default .navbar-link {
    color: white!important;
}

.navbar-default .navbar-nav > .active{
    color: white;
    background:	#01C7FF;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: white;
    background:	#01C7FF;
}

.btn-blue{
  background:#02C6FF;
}

a{
  color:#02C6FF;
}
